<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<meta charset="ISO-8859-1">
<title>Opérations</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-primary">
		<!-- titre -->
		<div class="panel-heading">Liste des operations</div>
		<!-- informations pour le compte -->
		<div class="panel-body">
			<table class="table table-striped">
				<tr>
					<th>Numero d'operation</th>
					<th>Type Operation</th>
					<th>Date </th>
					<th>Montant </th>
				</tr>
				<tr th:each="o:${operations}">
					<td th:text="${o.numOperation}"></td>
					<td th:text="${o.class.simpleName}"></td>
					<td th:text="${o.dateOperation}"></td>
					<td th:text="${o.montant}"></td>
				</tr>
			</table>

			<div class="container">
				<ul class="nav nav-pills">
					<!-- pour parcourir un tableau avec des index  -->
					<li th:each="p,status:${pages}"><a
						th:href="@{/consulterOperations(codeCompte=${codeCompte},
								 page=${status.index})}"
						th:text="${status.index}"></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>