<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>ma banque</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Links -->
		<ul class="navbar-nav"> 
		   <li class="nav-item"><a class="nav-link" th:href="@{operation}">Opérations</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{comptes}">Comptes</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{clients}">Clients</a></li>	
		</ul>
		<ul class="nav navbar-nav navbar-right">
      		<li><a th:href="@{logout}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      		<li><a th:href="@{login}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   	   </ul>
	</nav>
	<div layout:fragment="content"></div>
</body>
</html>